* {
    margin: 0;
}

body {
    font-family: 'Russo One', sans-serif;

    background-image: url(media/background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 32px;
    line-height: 48px;
    color: black;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    box-shadow: 2px 2px 2px 2px #000000;

    background-image: url(media/background-header.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 15px;
}

main {
    text-align: center;

    background-image: url(media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    text-align: center;
    box-shadow: 0px 0px 0px 0.8px #000000;
    text-shadow: 1px 2px 1px red;
}

.info-block {
    margin-bottom: 50px;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-link, .contact-link {
    margin-left: 30px;

    text-shadow: 2px 2px 2px black;
    font-size: 24px;
    color: red;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
}

.nav-link:hover {
    color: darkred;
}

.author-name {
    font-size: 64px;
    text-shadow: 5px 1px 1px red;
}

.author-number, .author-site {
    display: inline;
}

.contact-header {
    font-size: 48px;
    text-shadow: 4px 1px 1px red;
}

.angle-oxxxy, .author-character {
    font-size: 42px;
    text-shadow: 3px 1px 1px red;
}

.author-info {
    font-size: 38px;
    text-shadow: 2px 1px 1px red;
}

.contact-the-author {
    border: 4px solid red;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    resize: none;
}

.send-message {
    background: red;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

    -webkit-transition: all 1s ease;
            transition: all 1s ease;
}

.send-message:hover {
    color: darkred;
}

.gallery-header {
    font-size: 48px;
    text-shadow: 8px 2px 2px pink;
}

.gallery-photo {
    height: 250px;
    width: 250px;
}

.map-block {
    display: flex;
    justify-content: center;
}

.message-form {
    margin-bottom: 15px;
}